/*catalog*/
.catalog {
  padding: 77px 0;
}
@media (max-width: 575.98px) {
  .catalog {
    padding: 50px 0;
  }
}
.catalog__top {
  margin: 0 0 41px;
}
@media (max-width: 991.98px) {
  .catalog__top {
    margin: 0 0 22px;
  }
}
@media (max-width: 479.98px) {
  .catalog__top {
    margin: 0 0 12px;
  }
}
.catalog__title {
  margin: 0 0 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-333);
}
@media (max-width: 575.98px) {
  .catalog__title {
    margin: 0 0 11px;
    font-size: 28px;
    line-height: 38px;
  }
}
.catalog__text {
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-333);
}
@media (max-width: 575.98px) {
  .catalog__text {
    display: none;
  }
}
.catalog__content {
  display: flex;
  width: 100%;
}
@media (max-width: 991.98px) {
  .catalog__content {
    flex-direction: column-reverse;
  }
}

/*accordion-content*/
.accordion-content {
  margin: 0 50px 0 0;
  width: 46.875%;
}
@media (max-width: 1599.98px) {
  .accordion-content {
    width: 48.659%;
  }
}
@media (max-width: 991.98px) {
  .accordion-content {
    margin: 0;
    width: 100%;
  }
}
.accordion-content__card {
  display: none;
}
.accordion-content__card.accordion-content__card--active {
  display: block;
}
/*default*/
.accordion-content__img {
  margin: 0 0 30px;
}
@media (max-width: 575.98px) {
  .accordion-content__img {
    margin: 0 0 22px;
  }
}
.accordion-content__title {
  margin: 0 0 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-333);
}
.accordion-content__default-title {
  margin: 0;
}
.accordion-content__data-text {
  margin: 0 0 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}
.accordion-content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-333);
}
.accordion-content__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-9d5cd0);
}

/*accordion*/
.catalog-accordion {
  width: 50%;
}
@media (max-width: 1599.98px) {
  .catalog-accordion {
    width: 48.659%;
  }
}
@media (max-width: 991.98px) {
  .catalog-accordion {
    margin: 0 0 50px;
    width: 100%;
  }
}
.catalog-accordion__btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  margin-top: -1px;
  width: 100%;
  transition: border 0.3s ease-in-out;
}
.catalog-accordion__btn:hover {
  border-color: var(--color-9d5cd0);
  z-index: 1;
}
.catalog-accordion__btn:active,
.catalog-accordion__btn.catalog-accordion__btn--active {
  border-color: var(--color-7943a4);
  z-index: 1;
}
@media (max-width: 575.98px) {
  .catalog-accordion__btn {
    padding: 22px 0 18px;
  }
}
.catalog-accordion__btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.catalog-accordion__text {
  position: relative;
  z-index: -1;
  transition: color 0.3s ease-in-out;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-333);
}
@media (max-width: 575.98px) {
  .catalog-accordion__text {
    font-size: 18px;
    line-height: 32px;
  }
}
.catalog-accordion__text::before {
  content: "";
  position: absolute;
  top: -2px;
  right: 0;
  bottom: -2px;
  left: 0;
  z-index: -1;
  transition: background 0.3s ease-in-out;
}
.catalog-accordion__btn:focus:not(:hover):not(:active) .catalog-accordion__text {
  color: var(--color-white);
}
.catalog-accordion__btn:hover .catalog-accordion__text {
  color: var(--color-9d5cd0);
}
.catalog-accordion__btn:active .catalog-accordion__text {
  color: var(--color-7943a4);
}
.catalog-accordion__btn.catalog-accordion__btn--active .catalog-accordion__text {
  color: var(--color-7943a4);
}
.catalog-accordion__btn:focus:not(:hover):not(:active) .catalog-accordion__text::before {
  background-color: var(--color-9d5cd0);
}
.catalog-accordion__btn:hover:not(:focus):not(:active) .catalog-accordion__text::before {
  background: none;
}
.catalog-accordion__arrow {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: -1;
  background-color: #ececec;
  border-radius: 100px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.catalog-accordion__btn:focus .catalog-accordion__arrow,
.catalog-accordion__btn:hover .catalog-accordion__arrow,
.catalog-accordion__btn:active .catalog-accordion__arrow {
  background-color: var(--color-d1a9f0);
}
.catalog-accordion__btn:active .catalog-accordion__arrow,
.catalog-accordion__btn.catalog-accordion__btn--active .catalog-accordion__arrow {
  background-color: var(--color-d1a9f0);
  outline: 1px solid var(--color-9d5cd0);
  outline-offset: -1px;
}
@media (max-width: 575.98px) {
  .catalog-accordion__arrow {
    width: 30px;
    height: 30px;
  }
}
.catalog-accordion__arrow::before,
.catalog-accordion__arrow::after {
  content: "";
  position: absolute;
  top: 25px;
  width: 12px;
  height: 1px;
  background-color: #000;
  transition: transform 0.8s ease-in-out;
}
.catalog-accordion__arrow::before {
  transform: rotate(45deg);
  left: 15px;
}
.catalog-accordion__arrow::after {
  transform: rotate(-45deg);
  right: 15px;
}

/*arrow active*/
.catalog-accordion__btn:active .catalog-accordion__arrow::before,
.catalog-accordion__btn.catalog-accordion__btn--active .catalog-accordion__arrow::before {
  transform: rotate(-45deg);
}
.catalog-accordion__btn:active .catalog-accordion__arrow::after,
.catalog-accordion__btn.catalog-accordion__btn--active .catalog-accordion__arrow::after {
  transform: rotate(45deg);
}
@media (max-width: 575.98px) {
  .catalog-accordion__arrow::before,
  .catalog-accordion__arrow::after {
    top: 15px;
    width: 7px;
  }
  .catalog-accordion__arrow::before {
    left: 9px;
  }
  .catalog-accordion__arrow::after {
    right: 9px;
  }
}

.artist-list {
  height: 0;
  overflow: hidden;
  transition: height 0.8s ease-in-out;
}
.artist-list__wrapper {
  padding: 25px 0;
  columns: 3;
  min-height: 341px;
}
@media (max-width: 1599.98px) {
  .artist-list__wrapper {
    columns: 2;
  }
}
@media (max-width: 991.98px) {
  .artist-list__wrapper {
    columns: 3;
  }
}
@media (max-width: 767.98px) {
  .artist-list__wrapper {
    padding: 20px 0;
    columns: 2;
  }
}
@media (max-width: 479.98px) {
  .artist-list__wrapper {
    columns: 1;
  }
}
@media (max-width: 479.98px) {
  .artist-list__wrapper {
    flex-wrap: nowrap;
    max-height: none;
  }
}
@media (max-width: 1599.98px) {
  .artist-list__item {
    break-inside: avoid-column;
  }
}
.artist-list__link {
  position: relative;
  outline: none;
}
.artist-list__name {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  z-index: 1;
  color: var(--color-333);
  transition: color 0.3s ease-in-out;
}
.artist-list__link:focus:not(:active) .artist-list__name {
  color: var(--color-white);
}
.artist-list__link:hover .artist-list__name {
  color: var(--color-9d5cd0);
}
.artist-list__link:active .artist-list__name,
.artist-list__link.artist-list__link--active .artist-list__name {
  color: var(--color-7943a4);
}
.artist-list__link::before {
  content: "";
  position: absolute;
  top: -2px;
  right: 0;
  bottom: -2px;
  left: 0;
  transition: background 0.3s ease-in-out;
}
.artist-list__link:focus:not(:active)::before {
  background-color: var(--color-9d5cd0);
}
.artist-list__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-9d5cd0);
  opacity: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.artist-list__link:hover:not(:active)::after {
  opacity: 1;
  transform: scaleX(1);
}

.artist-list__default-item {
  display: flex;
}
.artist-list__default-wrapper {
  padding: 25px 0;
}
.artist-list__default-img {
  position: relative;
  margin: 0 24px 0 0;
  max-width: 275px;
  width: 100%;
  min-height: 189px;
  border: 1px solid #b7b7b7;
}
@media (max-width: 1599.98px) {
  .artist-list__default-img {
    min-height: 130px;
  }
}
@media (max-width: 991.98px) {
  .artist-list__default-img {
    min-height: 189px;
  }
}
@media (max-width: 479.98px) {
  .artist-list__default-img {
    min-height: 90px;
  }
}

.artist-list__default-img::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  background-color: #b7b7b7;
}
.artist-list__default-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 275px;
}
@media (max-width: 1599.98px) {
  .artist-list__default-content {
    padding: 0;
  }
}
.artist-list__default-title {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-333);
}
@media (max-width: 575.98px) {
  .artist-list__default-title {
    font-size: 18px;
    line-height: 32px;
  }
}
.artist-list__default-text {
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-333);
}
.artist-list__default-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-9d5cd0);
}
