.events {
  padding: 0;
}
@media (max-width: 1279.98px) {
  .events {
    padding: 0 0 60px;
  }
}
@media (max-width: 479.98px) {
  .events {
    padding: 2px 0 60px;
  }
}
.events__container {
  position: relative;
}
.events__title {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-333);
}
@media (max-width: 1279.98px) {
  .events__title {
    margin: 0 0 20px;
  }
}
@media (max-width: 991.98px) {
  .events__title {
    line-height: 52px;
  }
}
@media (max-width: 575.98px) {
  .events__title {
    margin: 0 0 14px;
    font-size: 28px;
    line-height: 38px;
  }
}
.events-swiper {
  max-width: 1600px;
  overflow: hidden;
}
.events-swiper__slide {
  max-width: 500px;
  width: auto;
}
@media (max-width: 767.98px) {
  .events-swiper__slide {
    max-width: 100%;
  }
}
@media (max-width: 767.98px) {
  .events-swiper .last-slide {
    display: none;
  }
}
@media (max-width: 1279.98px) {
  .events-swiper__img {
    min-height: 200px;
  }
}
@media (max-width: 479.98px) {
  .events-swiper__img {
    width: 100%;
  }
}
.events-swiper__slide-content {
  position: relative;
  padding: 13px 50px 70px;
  border: 1px solid #cacaca;
  min-height: 400px;
}
@media (max-width: 1599.98px) {
  .events-swiper__slide-content {
    padding: 13px 33px 60px 37px;
    min-height: 483px;
  }
}
@media (max-width: 991.98px) {
  .events-swiper__slide-content {
    padding: 13px 33px 60px;
    min-height: 483px;
  }
}
@media (max-width: 767.98px) {
  .events-swiper__slide-content {
    padding: 13px 24px 60px 23px;
    min-height: 350px;
  }
}
@media (max-width: 575.98px) {
  .events-swiper__slide-content {
    min-height: 483px;
  }
}
.events-swiper .events-swiper__img {
  min-height: 200px;
}
.events-swiper__descr {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}
.events-swiper__descr:nth-child(2) {
  margin: 0 0 13px;
}
@media (max-width: 1279.98px) {
  .events-swiper__descr {
    text-align: right;
  }
  .events-swiper__descr:nth-child(2) {
    margin: 0 0 4px;
  }
}
@media (max-width: 991.98px) {
  .events-swiper__descr:nth-child(2) {
    margin: 0 0 3px;
  }
}
@media (max-width: 479.98px) {
  .events-swiper__descr:nth-child(2) {
    margin: 0 0 12px;
  }
}
.events-swiper__title {
  margin: 0 0 9px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-333);
}
@media (max-width: 1279.98px) {
  .events-swiper__title {
    margin: 0 0 5px;
  }
}
.events-swiper__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-333);
}
.events-swiper__link {
  position: absolute;
  bottom: 40px;
  left: 50px;
}
@media (max-width: 1599.98px) {
  .events-swiper__link {
    bottom: 50px;
    left: 34px;
  }
}
@media (max-width: 767.98px) {
  .events-swiper__link {
    bottom: 48px;
    left: 29px;
  }
}
.events-swiper__link-text {
  position: relative;
  padding-bottom: 3px;
  z-index: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-9d5cd0);
  border-bottom: 1px solid var(--color-9d5cd0);
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}
.events-swiper__link:focus:not(:hover):not(:active) .events-swiper__link-text {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
}
.events-swiper__link:hover .events-swiper__link-text {
  color: var(--color-7943a4);
  border-color: var(--color-7943a4);
}
.events-swiper__link:active .events-swiper__link-text {
  color: var(--color-333);
  border-color: var(--color-333);
}
.events-swiper__link::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -8px;
  bottom: -4px;
  left: -8px;
  transition: background 0.3s ease-in-out;
}
.events-swiper__link:focus:not(:hover):not(:active)::before {
  background-color: var(--color-9d5cd0);
}
.events-swiper .swiper-pagination {
  bottom: -53px;
}
@media (max-width: 1279.98px) {
  .events-swiper .swiper-pagination {
    bottom: -42px;
  }
}
@media (max-width: 479.98px) {
  .events-swiper .swiper-pagination {
    bottom: -34px;
  }
}
.events-swiper .events-swiper__pagination .swiper-pagination-bullet {
  margin: 0;
  width: 10px;
  height: 10px;
  background-color: #cacaca;
}
.events-swiper .swiper-pagination-bullet:not(:last-child) {
  margin: 0 15px 0 0;
}
.events-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #666;
}
.events-swiper__btn {
  top: 426px;
  width: 50px;
  height: 50px;
  background-color: #ececec;
  border-radius: 100px;
  outline: none;
}
@media (max-width: 1599.98px) {
  .events-swiper__btn {
    display: none;
  }
}
.events-swiper__btn--prev {
  left: 25px;
}
.events-swiper__btn--next {
  right: 25px;
}
.events-swiper__btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: border 0.3s ease-in-out, background 0.3s ease-in-out;
}
.events-swiper__btn:focus:not(:hover)::before,
.events-swiper__btn:active::before {
  border-color: var(--color-9d5cd0);
}
.events-swiper__btn:hover::before,
.events-swiper__btn:active::before {
  background-color: var(--color-d1a9f0);
}
.events-swiper__btn::after {
  font-size: 18px;
  color: var(--color-black);
  z-index: 1;
}
.events-swiper .swiper-button-disabled {
  display: none;
}
