.footer {
  padding: 47px 0;
  background-color: var(--color-black);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__messenger-block {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.footer__messenger-link {
  display: inline-block;
}
.footer__messenger-link path {
  transition: fill 0.3s ease-in-out;
}
.footer__messenger-link:focus path,
.footer__messenger-link:hover path {
  fill: var(--color-white);
}
.footer__messenger-link:active path {
  fill: var(--color-9d5cd0);
}
.footer__messenger-svg {
  width: 45px;
  height: 45px;
}
