/*HEADER*/
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/*HEADER-TOP*/
.header-top {
  background-color: var(--color-black);
  padding: 30px 0;
}
@media (max-width: 479.98px) {
  .header-top {
    padding: 0;
  }
}

.header-top__container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 1599.98px) {
  .header-top__container {
    justify-content: space-between;
  }
}
@media (max-width: 479.98px) {
  .header-top__container {
    padding: 12px 15px;
  }
}

/*Burger*/
.burger {
  display: none;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  transition: opacity 0.3s ease-in-out;
}
.burger.burger__active {
  z-index: 3;
}
@media (max-width: 1599.98px) {
  .burger {
    display: flex;
    top: 0;
    left: 0;
  }
}
@media (max-width: 479.98px) {
  .burger {
    height: 18px;
  }
}
.burger span {
  display: inline-block;
  width: 28px;
  height: 4px;
  background-color: var(--color-white);
}
.burger.burger__active span {
  background: none;
}
@media (max-width: 479.98px) {
  .burger span {
    width: 16px;
    height: 2px;
  }
}
.burger span::before,
.burger span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 4px;
  background-color: var(--color-white);
}
.burger.burger__active span::before,
.burger.burger__active span::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 2;
  width: 40px;
  height: 3px;
  background-color: var(--color-white);
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 479.98px) {
  .burger span::before,
  .burger span::after {
    height: 2px;
  }
  .burger.burger__active span::before,
  .burger.burger__active span::after {
    width: 19px;
    height: 2px;
  }
}
.burger span::before {
  top: 0;
  width: 36px;
}
.burger.burger__active span::before {
  transform: rotate(45deg);
}
@media (max-width: 479.98px) {
  .burger span::before {
    width: 25px;
  }
}
.burger span::after {
  bottom: 0;
  width: 24px;
}
.burger.burger__active span::after {
  transform: rotate(-45deg);
}
@media (max-width: 479.98px) {
  .burger span::after {
    width: 10px;
  }
}

.header-top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 11.25%;
  width: 173px;
  height: 40px;
  outline: none;
}
@media (max-width: 1599.98px) {
  .header-top__logo {
    margin: 0;
    width: 188px;
    height: 42px;
  }
}
@media (max-width: 479.98px) {
  .header-top__logo {
    width: 97px;
    height: 22px;
  }
}

.header-top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 1247px;
  width: 100%;
}
.header-top-menu.header-top-menu__active {
  top: 0;
}
@media (max-width: 1599.98px) {
  .header-top-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
    position: fixed;
    top: -400%;
    left: 0;
    z-index: 2;
    padding: 137px 50px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    transition: top 0.3s ease-in-out;
  }
}
@media (max-width: 479.98px) {
  .header-top-menu {
    padding: 46px 15px 100px;
  }
}
.header-top-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 33.8% 0 0;
  flex: 1 1 758px;
  width: 100%;
  color: var(--color-white);
}
@media (max-width: 1599.98px) {
  .header-top-menu__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 30px;
  }
}
.header-top-menu__item {
  margin: 0 7.8% 0 0;
}
.header-top-menu__item:last-child {
  margin: 0;
}
@media (max-width: 1599.98px) {
  .header-top-menu__item {
    margin: 0;
  }
}
.header-top-menu__link {
  position: relative;
}
.header-top-menu__link:focus {
  outline: none;
}
.header-top-menu__link::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  transition: background-color, color 0.3s ease-in-out;
}
.header-top-menu__link:focus:not(:hover):not(:active)::before {
  background-color: var(--color-7943a4);
}
@media (max-width: 1599.98px) {
  .header-top-menu__link {
    padding: 0;
    font-size: 24px;
    line-height: 64px;
  }
}
@media (max-width: 479.98px) {
  .header-top-menu__link {
    font-size: 16px;
    line-height: 32px;
  }
}
.header-top-menu__text {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
  transition: color 0.3s ease-in-out;
}
.header-top-menu__link:hover .header-top-menu__text {
  color: var(--color-c283f3);
}
.header-top-menu__link:active .header-top-menu__text {
  color: var(--color-7943a4);
}

/*войти*/
.enter {
  position: relative;
  flex-shrink: 0;
  color: var(--color-white);
  transform: translatex(-4px);
  transition: transform, color 0.3s ease-in-out;
}
.enter:focus {
  outline: none;
}
.enter::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -8px;
  bottom: -6px;
  left: -8px;
}
.enter:focus:not(:hover):not(:active)::before {
  background-color: var(--color-7943a4);
  outline: none;
}
.enter:hover {
  color: var(--color-c283f3);
}
.enter:active {
  color: var(--color-9d5cd0);
}
@media (max-width: 1599.98px) {
  .enter {
    margin-left: 4px;
    padding: 15px 90px;
    border: 2px solid var(--color-9d5cd0);
    border-radius: 100px;
  }
}
@media (max-width: 991.98px) {
  .enter {
    padding: 15px 32px;
  }
}
@media (max-width: 479.98px) {
  .enter {
    margin: 0;
    padding: 11px 32px;
  }
}
.enter__wrap-svg {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  transition-property: margin, padding;
  transition: 0.3s ease-in-out;
  line-height: 1.1;
}
.enter:hover .enter__wrap-svg {
  margin: 0 0 0 -4px;
  padding: 0 0 0 4px;
}
.enter:active .enter__wrap-svg {
  margin: 0 0 0 -4px;
  padding: 0 0 0 4px;
}
.enter__svg {
  position: relative;
  z-index: 1;
  margin-left: -4px;
}
@media (max-width: 479.98px) {
  .enter__svg {
    margin-left: -2px;
    width: 12px;
    height: 11px;
  }
}
.enter path {
  transition: fill 0.3s ease-in-out;
}
.enter:hover path {
  fill: var(--color-c283f3);
}
.enter:active path {
  fill: var(--color-9d5cd0);
}
.enter__text {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
@media (max-width: 479.98px) {
  .enter__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
}

/*search*/
.header-top__btn-search {
  display: none;
}
@media (max-width: 1599.98px) {
  .header-top__btn-search {
    display: inline-block;
  }
}
@media (max-width: 479.98px) {
  .header-top__btn-search svg {
    width: 19px;
    height: 18px;
  }
}
.search-top {
  position: absolute;
  top: 5px;
  right: 50px;
  z-index: 1;
  display: none;
  align-items: center;
  margin: 0;
  background-color: var(--color-black);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}
.search-top.search-top__active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}
@media (max-width: 991.98px) {
  .search-top {
    justify-content: center;
    top: -5px;
    bottom: 0;
    left: 50px;
    min-height: 60px;
  }
}
@media (max-width: 1599.98px) {
  .search-top {
    display: flex;
  }
}
@media (max-width: 479.98px) {
  .search-top {
    right: 0;
    bottom: -30px;
    left: 0;
    align-items: flex-end;
    padding: 20px 15px;
  }
}

.search-top__btn-search {
  margin: 0 11px 0 0;
}
@media (max-width: 479.98px) {
  .search-top__btn-search {
    margin: 0 5px 0 0;
  }
  .search-top__btn-search svg {
    width: 19px;
    height: 18px;
  }
}
.search-top__input {
  margin: 0 24px 0 0;
  padding: 0;
  width: 218px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-white);
  outline: none;
  color: var(--color-white);
}
@media (max-width: 991.98px) {
  .search-top__input {
    width: 100%;
  }
}
@media (max-width: 479.98px) {
  .search-top__input {
    margin: 0;
    width: 180px;
    border-color: #c4c4c4;
  }
}
.search-top__btn-close {
  position: relative;
  padding: 0;
  width: 30px;
  height: 30px;
}
@media (max-width: 479.98px) {
  .search-top__btn-close {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 19px;
    height: 19px;
  }
}
.search-top__btn-close::before,
.search-top__btn-close::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: var(--color-white);
}
.search-top__btn-close::before {
  transform: rotate(45deg);
}
.search-top__btn-close::after {
  transform: rotate(-45deg);
}
@media (max-width: 479.98px) {
  .search-top__btn-close::before,
  .search-top__btn-close::after {
    top: 8px;
    width: 19px;
    height: 2px;
  }
}

/*HEADER-CONTENT*/
.header-content {
  padding: 25px 0;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 1279.98px) {
  .header-content {
    display: none;
  }
}
.header-content__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}
.header-content__menu {
  display: flex;
  align-items: center;
  flex: 1 1 1018px;
  width: 100%;
}
@media (max-width: 1599.98px) {
  .header-content-menu {
    justify-content: center;
    width: 100%;
  }
}
.header-content-menu__list {
  display: flex;
  align-items: center;
}
.header-content-menu__item {
  position: relative;
  margin: 0 110px 0 0;
}
.header-content-menu__item:last-child {
  margin: 0;
}
.header-content-menu__btn {
  position: relative;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.2px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.header-content-menu__btn.header-content-menu__btn--active {
  color: var(--color-7943a4);
}
.header-content-menu__btn:focus:not(:hover):not(:active):not(.header-content-menu__btn--active) {
  outline: none;
}
.header-content-menu__btn::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -26px;
  bottom: -8px;
  left: -6px;
  transition: background-color 0.3s ease-in-out;
}
.header-content-menu__btn:focus:not(:hover):not(:active):not(.header-content-menu__btn--active)::before {
  background-color: var(--color-7943a4);
}
.header-content-menu__btn:hover {
  color: var(--color-9d5cd0);
}
.header-content-menu__btn:active {
  color: var(--color-7943a4);
}
.header-content-menu__btn span {
  position: relative;
  z-index: 1;
}
.header-content-menu__btn span::before,
.header-content-menu__btn span::after {
  content: "";
  position: absolute;
  top: 14px;
  width: 8px;
  height: 2px;
  background-color: var(--color-white);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.header-content-menu__btn:hover span::before,
.header-content-menu__btn:hover span::after {
  background-color: var(--color-9d5cd0);
}
.header-content-menu__btn:active span::before,
.header-content-menu__btn:active span::after {
  background-color: var(--color-7943a4);
}
.header-content-menu__btn span::before {
  right: -12px;
  transform: rotate(40deg);
}
.header-content-menu__btn:hover.header-content-menu__btn--active span::before,
.header-content-menu__btn:hover.header-content-menu__btn--active span::after {
  background-color: var(--color-9d5cd0);
}
.header-content-menu__btn.header-content-menu__btn--active span::before,
.header-content-menu__btn.header-content-menu__btn--active span::after {
  background-color: var(--color-7943a4);
}
.header-content-menu__btn.header-content-menu__btn--active span::before {
  transform: rotate(-40deg);
}
.header-content-menu__btn span::after {
  right: -18px;
  transform: rotate(-40deg);
}
.header-content-menu__btn.header-content-menu__btn--active span::after {
  transform: rotate(40deg);
}
.dropdown {
  position: absolute;
  top: 240%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 300px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.dropdown.dropdown__active {
  visibility: visible;
  opacity: 1;
}
.dropdown__simplebar {
  padding-right: 20px;
  max-height: 220px;
}
.dropdown__item {
  position: relative;
  margin: 0 0 20px 0;
  padding: 10px 14px;
  width: 220px;
  min-height: 40px;
  background-color: var(--color-black);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  transition: border 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dropdown__item:last-child {
  margin: 0;
}
.dropdown__link {
  outline: none;
}
.dropdown__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.dropdown__link:focus::before,
.dropdown__link:hover::before {
  box-shadow: inset 0 0 0 2px var(--color-9d5cd0);
}
.dropdown__link:active::before {
  box-shadow: inset 0 0 0 2px var(--color-d1a9f0);
  background-color: rgba(194, 131, 243, 0.4);
}
.dropdown__link span {
  position: relative;
  z-index: 1;
}

/*скроллбар*/
.dropdown__simplebar .simplebar-track.simplebar-vertical {
  background-color: var(--color-black);
  width: 2px;
}
.dropdown__simplebar .simplebar-scrollbar {
  width: 2px;
  background-color: var(--color-white);
}

/*header-content-search*/
.search-content {
  display: flex;
  align-items: center;
}
@media (max-width: 1599.98px) {
  .search-content {
    display: none;
  }
}
.search-content__btn {
  margin: 0 11px 0 0;
  outline: none;
}
.search-content__input {
  width: 218px;
  background: none;
  border: none;
  outline: none;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  transition: border-color 0.3s ease-in-out;
}
.search-content__input:focus {
  border-color: var(--color-7943a4);
}
.search-content__input:hover {
  border-color: var(--color-c283f3);
}
.search-content__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  transition: opacity 0.3s ease-in-out;
}
.search-content__input:focus::placeholder {
  opacity: 0;
}
