/*HERO*/
.hero {
  position: relative;
  overflow: hidden;
}

.hero-swiper {
  width: 100%;
}

.hero-swiper-wrapper__slide {
  padding: 238px 0 97px;
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-swiper-wrapper__slide--1 {
  background-image: url(../img/hero/1920-background-1.jpg);
}

.hero-swiper-wrapper__slide--2 {
  background-image: url(../img/hero/1920-background-2.jpg);
}

.hero-swiper-wrapper__slide--3 {
  background-image: url(../img/hero/1920-background-3.jpg);
}

.hero-swiper-wrapper__container {
  color: var(--color-white);
}
.hero-swiper-wrapper__title {
  margin: 0 0 15px;
  max-width: 600px;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
}
.hero-swiper-wrapper__descr {
  margin: 0 0 90px;
  max-width: 579px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero-swiper-wrapper__btn {
  position: relative;
  padding: 22.5px 35px;
  background-color: var(--color-9d5cd0);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  outline: none;
  transition: background 0.3s ease-in-out;
}

.hero-swiper-wrapper__btn:active {
  background-color: var(--color-7943a4);
}

.hero-swiper-wrapper__btn::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px transparent;
  transition: box-shadow 0.3s ease-in-out;
}

.hero-swiper-wrapper__btn:focus:not(:hover)::before {
  box-shadow: inset 0 0 0 3px var(--color-d1a9f0);
}

.hero-swiper-wrapper__btn:hover:not(:active)::before {
  box-shadow: inset 0 0 0 2px var(--color-c283f3);
}

.hero-swiper-wrapper__btn:active::before {
  box-shadow: inset 0 0 0 3px var(--color-d1a9f0);
}

.hero-swiper-wrapper__btn span {
  position: relative;
  z-index: 1;
}
