@media (max-width: 1599.98px) {
  /*HEADER*/
  .header-top__container {
    justify-content: space-between;
  }
  .header-content__menu {
    margin: 0 100px 0 0;
  }

  /*CATALOG*/
  .accordion-content {
    width: 48.659%;
  }
  .catalog-accordion {
    width: 48.659%;
  }
  .artist-list__wrapper {
    columns: 2;
  }
  .artist-list__item {
    break-inside: avoid-column;
  }
  .artist-list__default-img {
    min-height: 130px;
  }
  .artist-list__default-content {
    padding: 0;
  }

  /*EVENTS*/
  .events-swiper__slide-content {
    padding: 13px 33px 60px 37px;
    min-height: 483px;
  }
  .events-swiper__link {
    bottom: 50px;
    left: 34px;
  }
  .events-swiper__btn {
    display: none;
  }

  /*CONTACTS*/
  .contacts__descr {
    margin: 0 0 31px;
  }
  .contacts__top {
    flex-direction: column;
  }
  .contacts-form {
    justify-content: flex-start;
    margin: 0 0 30px;
  }
}
@media (max-width: 1279.98px) {
  /*HEADER*/
  /*burger*/
  .burger {
    display: flex;
    top: 0;
    left: 0;
  }

  .header-top__logo {
    margin: 0;
    width: 188px;
    height: 42px;
  }

  .header-top-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
    position: fixed;
    top: -400%;
    left: 0;
    z-index: 2;
    padding: 37px 50px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    transition: top 0.6s ease-in-out;
  }

  .header-top-menu__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 30px;
  }
  .header-top-menu__item {
    margin: 0;
  }
  .header-top-menu__link {
    padding: 0;
    font-size: 24px;
    line-height: 64px;
  }
  .enter {
    margin-left: 4px;
    padding: 15px 90px;
    border: 2px solid var(--color-9d5cd0);
    border-radius: 100px;
  }
  .header-top__btn-search {
    display: inline-block;
  }
  .search-top {
    display: flex;
  }
  .header-content-menu {
    justify-content: center;
    width: 100%;
  }
  .header-content {
    display: none;
  }

  /*HERO*/
  .hero-swiper-wrapper__slide {
    padding: 210px 0 114px;
    min-height: 768px;
  }
  .hero-swiper-wrapper__slide--1 {
    background-image: url(../img/hero/1024-background-1.jpg);
  }

  .hero-swiper-wrapper__slide--2 {
    background-image: url(../img/hero/1024-background-2.jpg);
  }

  .hero-swiper-wrapper__slide--3 {
    background-image: url(../img/hero/1024-background-3.jpg);
  }
  .hero-swiper-wrapper__title {
    margin: 0 0 8px;
  }
  .hero-swiper-wrapper__descr {
    margin: 0 0 132px;
    max-width: 661px;
  }

  /*GALLERY*/
  .gallery-filter {
    max-width: 280px;
    width: 100%;
  }
  .gallery-filter__title {
    margin: 0 0 32px;
  }
  .gallery-form {
    margin: 0 0 106px;
  }
  .gallery-form__title {
    margin: 0 0 10px;
  }
  .gallery-swiper {
    max-width: 64.286%;
  }
  .gallery-swiper .swiper-wrapper__slide {
    max-height: 315px;
  }
  .gallery-modal__wrapper-img {
    max-width: 264px;
    max-height: 594px;
  }
  .gallery-modal__wrapper-descr {
    padding: 130px 60px 86px 50px;
    max-width: 330px;
    max-height: 594px;
  }

  /*EVENTS*/
  .events {
    padding: 0 0 60px;
  }
  .events__title {
    margin: 0 0 20px;
  }
  .events-swiper__img {
    min-height: 200px;
    width: 100%;
  }
  .events-swiper__descr {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
  }
  .events-swiper__descr:nth-child(2) {
    top: 30px;
    margin: 0;
  }
  .events-swiper__title {
    margin: 0 0 5px;
  }
  .events-swiper__text {
    margin: 0 0 14px;
  }
  .events-swiper__link {
    bottom: 46px;
    left: 37px;
  }
  .events-swiper .swiper-pagination {
    bottom: -42px;
  }

  /*PROJECTS*/
  .projects {
    padding: 60px 0 29px;
  }
  .projects__top {
    margin: 0;
  }
  .projects__swiper {
    padding: 53px 50px;
  }
  .projects-swiper-block__slide {
    padding: 20px 50px;
    height: 128px;
  }

  /*CONTACTS*/
  .contacts-form__btn {
    padding: 10.5px 40px;
  }

  /*FOOTER*/
  .footer {
    padding: 40px 0;
  }
  .footer__messenger-block {
    column-gap: 30px;
  }
  .footer__messenger-svg {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 991.98px) {
  /*HEADER*/
  .enter {
    padding: 15px 32px;
  }
  .search-top {
    justify-content: center;
    top: -5px;
    bottom: 0;
    left: 50px;
    min-height: 60px;
  }
  .search-top__input {
    width: 100%;
  }

  /*HERO*/
  .hero-swiper-wrapper__slide--1 {
    background-image: url(../img/hero/768-background-1.jpg);
  }

  .hero-swiper-wrapper__slide--2 {
    background-image: url(../img/hero/768-background-2.jpg);
  }

  .hero-swiper-wrapper__slide--3 {
    background-image: url(../img/hero/768-background-3.jpg);
  }
  .hero-swiper-wrapper__title {
    max-width: 585px;
  }

  /*GALLERY*/
  .gallery__container {
    flex-direction: column;
  }
  .gallery-filter {
    margin: 0 0 37px;
  }
  .gallery-filter__title {
    margin: 0 0 35px;
  }
  .gallery-form {
    margin: 0 0 40px;
  }
  .gallery-swiper {
    max-width: 100%;
  }
  .gallery-swiper .swiper-button-prev {
    margin: 0 12px 0 0;
  }
  .gallery-swiper .swiper-pagination {
    margin: 0 12px 0 0;
  }
  .gallery-swiper .swiper-wrapper__slide {
    max-height: 330px;
  }
  .gallery-modal__wrapper-img {
    max-width: 302px;
  }
  .gallery-modal__wrapper-descr {
    padding: 130px 60px 120px 50px;
  }

  /*CATALOG*/
  .catalog__top {
    margin: 0 0 22px;
  }
  .catalog__content {
    flex-direction: column-reverse;
  }
  .accordion-content {
    margin: 0;
    width: 100%;
  }
  .catalog-accordion {
    margin: 0 0 47px;
    width: 100%;
  }
  .artist-list__wrapper {
    columns: 3;
  }
  .artist-list__default-img {
    min-height: 189px;
  }

  /*EVENTS*/
  .events__title {
    line-height: 52px;
  }
  .events-swiper__slide-content {
    padding: 51px 35px 60px;
    min-height: 483px;
  }

  /*PROJECTS*/
  .projects__swiper {
    padding: 60px 53px 50px;
  }
  .projects-swiper-block__slide {
    padding: 20px;
    height: 106px;
  }

  /*CONTACTS*/
  .contacts__top {
    padding: 35px 50px 40px;
  }
  .contacts__text {
    line-height: 30px;
  }
  .contacts-form {
    flex-wrap: wrap;
  }
  .contacts-form__input-wrapper {
    margin: 0 0 12px;
  }
  .contacts-form__input {
    padding: 15px 106px 15px 24px;
  }
  .contacts-form__btn {
    padding: 10.5px 28px;
  }
}
@media (max-width: 767.98px) {
  /*HERO*/
  .hero-swiper-wrapper__slide {
    padding: 160px 0 45px;
    min-height: 576px;
    background-position: top;
  }
  .hero-swiper-wrapper__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-swiper-wrapper__title {
    margin: 0 0 32px;
    max-width: 100%;
    text-align: center;
    font-size: 56px;
    line-height: 64px;
  }
  .hero-swiper-wrapper__descr {
    margin: 0 0 40px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
  }
  .hero-swiper-wrapper__btn {
    padding: 18px 22px;
    font-size: 16px;
    line-height: 16px;
  }

  /*GALLERY*/
  .gallery-swiper .swiper-wrapper__slide {
    max-height: 364px;
  }
  .gallery-modal__wrapper {
    flex-direction: column;
  }
  .gallery-modal__wrapper-img {
    max-width: 100%;
  }
  .gallery-modal__img {
    width: 100%;
  }
  .gallery-modal__wrapper-descr {
    padding: 50px;
  }
  .gallery-modal__period {
    margin: 0 0 12px;
  }
  .gallery-modal__close-btn {
    top: 10px;
    right: 10px;
    font-size: 50px;
  }

  /*CATALOG*/
  .artist-list__wrapper {
    padding: 20px 0;
    columns: 2;
  }

  /*EVENTS*/
  .events-swiper__slide {
    max-width: 100%;
  }
  .events-swiper .last-slide {
    display: none;
  }
  .events-swiper__slide-content {
    padding: 60px 24px 60px 23px;
    min-height: 350px;
  }
  .events-swiper__link {
    bottom: 48px;
    left: 29px;
  }

  /*CONTACTS*/
  .contacts-form {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 21px;
  }
}
@media (max-width: 575.98px) {
  /*HERO*/
  .hero-swiper-wrapper__slide {
    min-height: 480px;
  }
  .hero-swiper-wrapper__title {
    margin: 0 0 16px;
    font-size: 44px;
    line-height: 44px;
  }

  /*CATALOG*/
  .catalog {
    padding: 50px 0;
  }
  .catalog__title {
    margin: 0 0 11px;
    font-size: 28px;
    line-height: 38px;
  }
  .catalog__text {
    display: none;
  }
  .accordion-content__img {
    margin: 0 0 22px;
  }
  .accordion-content__title {
    margin: 0 0 12px;
  }
  .accordion-content__text {
    padding: 0 1px;
  }
  .catalog-accordion__btn {
    padding: 22px 0 18px;
  }
  .catalog-accordion {
    margin: 0 0 52px;
  }
  .catalog-accordion__text {
    font-size: 18px;
    line-height: 32px;
  }
  .catalog-accordion__arrow {
    width: 30px;
    height: 30px;
  }
  .catalog-accordion__arrow::before,
  .catalog-accordion__arrow::after {
    top: 15px;
    width: 7px;
  }
  .catalog-accordion__arrow::before {
    left: 9px;
  }
  .catalog-accordion__arrow::after {
    right: 9px;
  }
  .artist-list__default-title {
    font-size: 18px;
    line-height: 32px;
  }

  /*EVENTS*/
  .events__title {
    margin: 0 0 14px;
    font-size: 28px;
    line-height: 38px;
  }
  .events-swiper__slide-content {
    min-height: 483px;
  }

  /*PROJECTS*/
  .projects {
    padding: 20px 0 0;
  }
  .projects__top {
    margin: 0 0 9px;
  }
  .projects__swiper {
    padding: 43px 49px;
  }

  /*CONTACTS*/
  .contacts__container {
    border: none;
  }
  .contacts__descr {
    margin: 0 0 15px;
  }
  .contacts-form__btn {
    padding: 5px 32px;
  }
  .contacts__map {
    min-height: 320px;
    height: 320px;
  }

  /*FOOTER*/
  .footer {
    padding: 20px 0;
  }
  .footer__container {
    flex-direction: column-reverse;
  }
  .footer__logo-img {
    max-width: 97px;
  }
  .footer__messenger-block {
    column-gap: 30px;
    margin: 0 0 15px;
  }
  .footer__messenger-svg {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 479.98px) {
  /*HEADER*/
  .header-top {
    padding: 0;
  }
  .header-top__container {
    padding: 12px 15px;
  }
  /*burger*/
  .burger {
    height: 18px;
  }
  .burger span {
    width: 16px;
    height: 2px;
  }
  .burger span::before,
  .burger span::after {
    height: 2px;
  }
  .burger span::before {
    width: 25px;
  }
  .burger span::after {
    width: 10px;
  }

  .header-top__logo {
    width: 97px;
    height: 22px;
  }
  .header-top-menu {
    padding: 20px 15px 100px;
  }
  .header-top-menu__burger-close {
    margin: 0 0 10px;
  }
  .header-top-menu__burger-close span {
    width: 19px;
    height: 19px;
  }
  .header-top-menu__burger-close span::before,
  .header-top-menu__burger-close span::after {
    top: 8px;
    left: 0;
    width: 19px;
    height: 2px;
  }
  .header-top-menu__link {
    font-size: 16px;
    line-height: 32px;
  }
  .enter {
    margin: 0;
    padding: 11px 32px;
  }
  .enter__svg {
    margin-left: -2px;
    width: 12px;
    height: 11px;
  }
  .enter__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
  .header-top__btn-search svg {
    width: 19px;
    height: 18px;
  }
  .search-top {
    right: 0;
    bottom: -30px;
    left: 0;
    align-items: flex-end;
    padding: 20px 15px;
  }
  .search-top__btn-search {
    margin: 0 5px 0 0;
  }
  .search-top__btn-search svg {
    width: 19px;
    height: 18px;
  }
  .search-top__input {
    margin: 0;
    width: 180px;
    border-color: #c4c4c4;
  }
  .search-top__btn-close {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 19px;
    height: 19px;
  }
  .search-top__btn-close::before,
  .search-top__btn-close::after {
    top: 8px;
    width: 19px;
    height: 2px;
  }

  /*HERO*/
  .hero-swiper-wrapper__slide {
    padding: 78px 0 45px;
    min-height: 355px;
  }
  .hero-swiper-wrapper__slide--1 {
    background-image: url(../img/hero/320-background-1.jpg);
  }

  .hero-swiper-wrapper__slide--2 {
    background-image: url(../img/hero/320-background-2.jpg);
  }

  .hero-swiper-wrapper__slide--3 {
    background-image: url(../img/hero/320-background-3.jpg);
  }
  .hero-swiper-wrapper__title {
    margin: 0 0 15px;
    font-size: 32px;
    line-height: 37px;
  }
  .hero-swiper-wrapper__descr {
    max-width: 265px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .hero-swiper-wrapper__btn {
    padding: 13px 18px;
    font-size: 12px;
    line-height: 16px;
  }

  /*GALLERY*/
  .gallery {
    padding: 50px 0;
  }
  .gallery-filter {
    margin: 0 0 30px;
    max-width: 100%;
    width: 100%;
  }
  .gallery-filter__title {
    margin: 0 0 12px;
    font-size: 28px;
    line-height: 38px;
  }
  .gallery-form {
    margin: 0 0 30px;
  }
  .gallery-form__title {
    margin: 0 0 3px;
  }
  .gallery-swiper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery-navigation {
    margin: 0;
    order: 1;
  }
  .gallery-swiper .swiper-wrapper {
    margin: 0 0 20px;
  }
  .gallery-swiper .swiper-slide__img {
    width: 100%;
  }
  .gallery-modal__wrapper {
    max-width: 290px;
  }
  .gallery-modal__wrapper-descr {
    padding: 26px 25px;
  }

  /*CATALOG*/
  .catalog__top {
    margin: 0 0 12px;
  }
  .artist-list__wrapper {
    flex-wrap: nowrap;
    max-height: none;
    columns: 1;
  }
  .artist-list__default-img {
    min-height: 90px;
  }

  /*EVENTS*/
  .events {
    padding: 2px 0 60px;
  }
  .events__title {
    margin: 0 0 10px;
  }
  .events-swiper__descr:nth-child(2) {
    margin: 0 0 12px;
  }
  .events-swiper .swiper-pagination {
    bottom: -34px;
  }

  /*PROJECTS*/
  .projects__title {
    margin: 0 0 14px;
    font-size: 28px;
    line-height: 38px;
  }
  .projects__swiper-title {
    font-size: 18px;
    line-height: 32px;
  }
  .projects-swiper-block__slide {
    height: 65px;
  }
  .projects-swiper-block__img {
    max-width: 70%;
  }

  /*CONTACTS*/
  .contacts__top {
    padding: 7px 15px 18px;
  }
  .contacts__title {
    font-size: 18px;
    line-height: 25px;
  }
  .contacts__text {
    font-size: 14px;
    line-height: 17px;
  }
  .contacts-form__input-wrapper {
    margin: 0 0 19px;
    width: 100%;
  }
  .contacts-form__input {
    padding: 10px 56px 11px 24px;
    width: 100%;
  }
  .contacts-form__btn-text--one {
    display: none;
  }
  .contacts-form__btn-text--two {
    display: inline-block;
  }
  .contacts-messengers__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }
  .contacts-messengers__svg {
    width: 50px;
    height: 50px;
  }
}
