:root {
  --color-white: #fff;
  --color-black: #000;
  --color-333: #333333;
  --color-d1a9f0: #d1a9f0;
  --color-c283f3: #c283f3;
  --color-9d5cd0: #9d5cd0;
  --color-7943a4: #7943a4;
}

@font-face {
  font-family: "Open sans";
  src: local("Open sans Regular"), url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open sans";
  src: local("Open sans Italic"), url("../fonts/OpenSansItalic.woff2") format("woff2"),
    url("../fonts/OpenSansItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open sans";
  src: local("Open sans SemiBold"), url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open sans";
  src: local("Open sans Bold"), url("../fonts/OpenSansBold.woff2") format("woff2"),
    url("../fonts/OpenSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  font-size: 100%;
}
body.block {
  overflow: hidden;
}
.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.reset-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  outline: none;
}
.btn {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  color: inherit;
}
.img {
  vertical-align: top;
  max-width: 100%;
}
.title,
.text {
  margin: 0;
  padding: 0;
}
[class*="__container"] {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1700px;
}
@media (max-width: 479.98px) {
  [class*="__container"] {
    padding: 0 15px;
  }
}
